KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/cursor.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/serialport.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/init_x86.o \
$(ARCHDIR)/gdt_load.o \
$(ARCHDIR)/interrupt_x86.o \
$(ARCHDIR)/interrupt_service_routine_x86.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupts_x86.o \
