KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/cursor.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/serialport.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/init.o \
$(ARCHDIR)/gdt_load.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/isr_irq.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupt_x86.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/sched/ctxswitch.o